* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1350px;
    font-family: sans-serif;

}

.border {
    border: 2px dashed #000000;

}


/* Header */

.header-container {
    background-color: #AED8E6;
    width: 1350px;
    height: 80px;
    display: flex;

}

.flex-header {
    background-color: #DAA520;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;

}



.logo {
    width: calc(900px / 5 * 1);
    height: 40px;
    padding: 10px;

}

.line-list {
    width: calc(900px / 5 * 3);
    height: 40px;
    padding: 10px 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    padding: 0 5px;
}

.login {
    width: calc(900px / 5 * 1);
    height: 40px;
    padding: 10px;
    text-align: right;
    
}


/* General */

.container {
    max-width: 1350px;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex-container {
    margin: 50px 0;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-container {
    height: calc(400px - 80px);
    flex-direction: column;
    background-color: #0A008B;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.pink-card {
    margin: 50px;
    height: 100%;
    width: 50%;
    border: 2px dashed #000000;
    background-color: #EE82ED;
    
}

.card {
    min-height: 400px;
    width: 60%;
    border: 2px dashed #000000;
    background-color: #1E90FF;
}

.side {
    min-height: 400px;
    width: 40%;
    border: 2px dashed #000000;
    background-color: #FFC0CA;


}
.bg-white {
    background-color: #ffffff;

}

.bg-gray {
    background-color: #D3D3D3;
}

.big {
    min-height: 750px;

}

.big-card {
    width: 900px;
    min-height: 650px;
    border: 2px dashed #000000;
    background-color: #228B21;
}


/* Footer */

footer {
  background-color: #23272a;
}

.footer-top {
  height: 600px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #d6d6d6;

  display: flex;
}

.footer-left {
  width: calc(900px / 3 * 1);
  background-color: #F08080;
  height: 100%;
  
}

.footer-right {
  width: calc(900px / 3 * 2);
  background-color: #21B1A9;
  height: 100%;
  display: flex;
}


.footer-right > div {
  flex-basis: 25%;
  border: 2px dashed #ffffff;
}

.row {
    display: flex;
    flex-direction: column;
}

.footer-bottom {
  width: 100%;
  height: 70px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7FFFD3;
}

.footer-bottom > * {
  padding: 5px 10px;
  background-color: #FFB6C1;
  border: 2px dashed #000000;
  margin: auto 0;
  
}
  