* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


.flex-container {
    max-width: 100%;
    min-height: 600px;
    margin: 0 auto;
    display: flex;


}

.header-container {
    background-color: #0A008B;
    display: flex;
}

.header {
    background-color: #AED8E6;
    width: 100%;
    height: 80px;
    border: 2px dashed black;

}

.odd {
    background-color: #ffffff;

}

.even {
    background-color: #D3D3D3;
}

.big {
    min-height: 1000px;
}

.last {
    min-height: 800px;
    background-color: #23272A;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.flex-footer {
    height: 100px;
    width: 100%;
    align-items: flex-end;
    border: 2px dashed black;
}