* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1350px;

}

.header-container {
    background-color: #AED8E6;
    width: 1350px;
    height: 80px;
    display: flex;

}

.flex-header {
    background-color: #DAA520;
    border: 2px dashed black;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;

}


ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}




.container {
    max-width: 1350px;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.flex-container {
    margin: 50px 0;
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-container {
    background-color: #AED8E6;
    min-height: calc(400px - 80px);
    flex-direction: column;
    background-color: #0A008B;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.pink-card {
    margin: 50px;
    min-height: 300px;
    width: 50%;
    border: 2px dashed black;
    background-color: #EE82ED;
    
}

.card {
    min-height: 400px;
    width: 60%;
    border: 2px dashed black;
    background-color: #1E90FF;
}

.side {
    min-height: 400px;
    width: 40%;
    border: 2px dashed black;
    background-color: #FFC0CA;


}
.odd {
    background-color: #ffffff;

}

.even {
    background-color: #D3D3D3;
}

.big {
    min-height: 800px;

}

.big-card {
    width: 900px;
    min-height: 650px;
    border: 2px dashed black;
    background-color: #228B21;
}

.bottom {
    min-height: 500px;
    background-color: #23272A;
    display: flex;
    flex-direction: column;
}

    
.last {
    border: 2px dashed black;
    min-height: 400px;
}

.box {
    background-color: #F08080;
    width: calc(900px / 3 * 1);

}

.col {
    background-color: #21B1A9;
    width: calc(900px / 3 * 2);

}


.footer-container {
    height: 100px;
    width: 100%;
    align-items: flex-end;
    border-top: 1px solid #d6d6d6;
    display: flex;
    flex-direction: row;
    order: 1;
    justify-content: center;
}

.footer-bar {
    background-color: #7FFFD3;
    width: 900px;
    min-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

    

